.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    z-index: -1;
}

button[data-bs-target] {
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
    background-color: #FAA500 !important;
    z-index: -1;
}

.carousel-caption {
    text-align: left !important;
    display: flex !important;
    flex-direction: column !important;
    top: 25%;
    gap: 20px;

    h1, p {
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial !important;
    }

    h1 {
        font-weight: 700;
    }

    p {
        font-size: 1em;
        font-weight: normal;
    }

    button {
        background-color: #FAA500;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        width: 93px;
        transition: background-color 0.2s, color 0.2s;

        &:hover {
            background-color: #FF9500;
            color: white;
            cursor: pointer;
        }
    }
}